    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Leh Ladakh</h3>
                                <p>He who climbs upon the highest mountains laughs at all tragedies, real or imaginary.</p>
                                <a href="/search?city=Leh" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Kerala</h3>
                                <p>God's own country, a heaven on earth.</p>
                                <a href="/search?city=Kerala" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Jaipur</h3>
                                <p>The finest jewellery ever created on earth.</p>
                                <a href="/search?city=Jaipur" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- slider_area_end -->

<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Where you want to go?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form">
                        <div class="input_field">
                            <input name="from" type="text" placeholder="Going from?" [(ngModel)]="goingFrom">
                        </div>
                        <div class="input_field">
                            <input name="to" type="text" placeholder="Going to?" [(ngModel)]="goingTo">
                        </div>
                        <div class="input_field">
                            <input name="date" id="datepicker" placeholder="Date" class="hasDatepicker" [(ngModel)]="date">
                        </div>
                        <div class="search_btn">
                            <a href="/search?from={{goingFrom}}&to={{goingTo}}&date={{date}}" class="boxed-btn4">Search</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- where_togo_area_end  -->

<!-- popular_destination_area_start  -->
<div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb_70">
                    <h3>Popular Domestic Destinations</h3>
                    <!-- <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let tour of tours" class="col-lg-4 col-md-6" [hidden]="tour.international">
                <div class="single_destination">
                    <div class="thumb">
                        <img style="height:180px;" src="{{tour.imageurl}}" alt="">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center"><a href="/search?tour={{tour.tourid}}">{{tour.numpackage}} Packages</a> </p>                        
                    </div>
                    <div class="title">
                        <h3>{{tour.name}}</h3>
                        <p>Package Price Starting from</p>
                        <h4>{{tour.minpackagecost|currency:'₹ '}} <span>per person</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb_70">
                    <h3>Popular International Destinations</h3>
                    <!-- <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let tour of tours" class="col-lg-4 col-md-6" [hidden]="!tour.international">
                <div class="single_destination" >
                    <div class="thumb">
                        <img style="height:180px;" src="{{tour.imageurl}}" alt="">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center"> <a href="/search?tour={{tour.tourid}}">{{tour.numpackage}} Packages</a> </p>                        
                    </div>
                    <div class="title">
                        <h3>{{tour.name}}</h3>
                        <p>Package Price Starting from</p>
                        <h4>{{tour.minpackagecost|currency:'₹ '}} <span>per person</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- popular_destination_area_end  -->

<!-- filter_packages by themes  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Explore Packages by Themes</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap row">
                    <div class="col-md-3" *ngFor="let category of categories">
                        <a href="/search?theme={{category.name}}"><span class="badge badge-pill w-100 bg-light p-4 my-2">{{category.name}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- filter_packages_by_themes  -->




<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Best Selling Packages</h3>
                    <!-- <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let package of packages" class="col-lg-4 col-md-6">
                <a href="/package/{{package.packageid}}">
                <div class="single_place" style="height:400px;">
                    <div class="thumb">
                        <img src="{{package.imageurl}} alt=" style="height:180px;">
                        <span class="prise">{{package.cost|currency:'₹ '}}</span>
                    </div>
                    <div class="place_info">
                        <h3>{{package.title}}</h3>
                        <p>{{package.tour}}</p>
                        <div>
                            {{package.duration}}
                        </div>
                        <div>
                            <p>Included</p>
                        </div>
                        <div class="rating_days d-flex">
                            <span  class="d-flex justify-content-center align-items-center">
                                 <span *ngFor="let inclusion of package.inclusion">
                                    <span *ngIf="inclusion=='Hotels'" style="font-size:8px"><i class="fa fa-hotel px-1"></i></span>
                                    <span *ngIf="inclusion=='Flights'" style="font-size:8px"><i class="fa fa-plane px-1"></i></span>
                                    <span *ngIf="inclusion=='Transfers'" style="font-size:8px"><i class="fa fa-car px-1"></i></span>
                                    <span *ngIf="inclusion=='Activities'" style="font-size:8px"><i class="fa fa-star px-1"></i></span>
                                    <span *ngIf="inclusion=='SightSeeing'" style="font-size:8px"><i class="fa fa-eye px-1"></i></span>
                                    <span *ngIf="inclusion=='Meals'" style="font-size:8px"><i class="fa fa-cutlery px-1"></i></span>
                                 </span> 
                            </span>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="more_place_btn text-center">
                    <a class="boxed-btn4" href="#">More Places</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- newletter_area_start  -->
<div class="newletter_area overlay">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="newsletter_text">
                            <h4>Subscribe Our Newsletter</h4>
                            <p>Subscribe newsletter to get offers and about
                                new places to discover.</p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="mail_form">
                            <div class="row no-gutters">
                                <div class="col-lg-9 col-md-8">
                                    <div class="newsletter_field">
                                        <input type="email" placeholder="Your mail" [(ngModel)]="subscriptionEmail">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="newsletter_btn">
                                        <button class="boxed-btn4" type="button" data-toggle="modal" data-target="#subscribeModal" (click)="Subscribe();">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newletter_area_end  -->


<div class="video_area video_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video_wrap text-center">
                    <h3>Explore Incredible India</h3>
                    <div class="video_icon">
                        <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=77czO8sxABI">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="travel_variation_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="assets/img/main/svg_icon/1.svg" alt="">
                    </div>
                    <h3>Comfortable Journey</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="assets/img/main/svg_icon/2.svg" alt="">
                    </div>
                    <h3>Luxuries Hotel</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="assets/img/main/svg_icon/3.svg" alt="">
                    </div>
                    <h3>Travel Guide</h3>
                    <p>A wonderful serenity has taken to the possession of my entire soul.</p>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="assets/img/main/testmonial/author.png" alt="">
                                        </div>
                                        <p>I Had Good Experience. Travelo All Package rates are affordable.</p>
                                        <div class="testmonial_author">
                                            <h3>- Simranjeet Kaur</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->


<div class="recent_trip_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>User Blogs</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="assets/img/main/trip/1.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>Journeys Are Best Measured In
                                New Friends</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="assets/img/main/trip/2.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>Journeys Are Best Measured In
                                New Friends</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="assets/img/main/trip/3.png" alt="">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>Oct 12, 2019</span>
                        </div>
                        <a href="#">
                            <h3>Journeys Are Best Measured In
                                New Friends</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade custom_search_pop" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="serch_form" class="p-5" *ngIf="isSubscribed==false">
            <h3>Thank you <span style="color:red">{{subscriptionEmail}}</span> for subscribing for Newsletter</h3>
            <p>You will receive our latest offers and packages regularly in your email.</p>
        </div>
        <div class="serch_form" class="p-5" *ngIf="isSubscribed==true">
            <h3><span style="color:red">{{subscriptionEmail}}</span> is already registered</h3>
        </div>
        </div>
    </div>
</div>
