<div class="col-lg-6 offset-lg-3 col-md-3 my-5 p-5 register">
    <h3 class="mb-30 text-center">Login</h3>
    <form method="post">
        <div class="mt-10">
            <input class="border" [(ngModel)]="user.email" name="email" placeholder="Email" required="" class="single-input">
        </div>
        <div class="mt-10">
            <input class="border" [(ngModel)]="user.password" type="password" name="password" placeholder="Password" required="" class="single-input">
        </div>
        <input type="submit" value="Login" class="btn btn-info btn-block">
    </form>
</div>